:root {
	--main-theme-color: #F03434 ;
	--main-font-color: #5F6F81;
	--font-head-color: #333333;
	--secondary-font-color: #424242;
	font-family: 'Merriweather', serif;
}

*{
    box-sizing: border-box;
}



body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: transparent;
	-webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-stroke: 1px transparent;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}


/* TYPOGRAPHY
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    color:var(--font-head-color);
    margin: 0;
    padding: 0;
    word-spacing: 1.5px;
    letter-spacing: 1px;
}

h1{font-size: 3.2em}
h2{font-size: 2.8em}
h3{font-size: 2.4em}
h4{font-size: 2em}
h5{font-size: 1.6em}
h6{font-size: .9em; margin-bottom: 10px;}

p, ul, li, blockquote, address, input {
    margin: 0;
    padding: 0;
    font-size: 1.05em;
    font-weight: 400;
    line-height: 1.5;
    word-spacing: 1.5px;
    letter-spacing: .5px;
    color: var(--main-font-color);
}

a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 1.05em;
    font-weight: 400;
    line-height: 1.5;
    word-spacing: 1.5px;
    letter-spacing: .5px;
    color: var(--main-theme-color);
}

a:hover{
    text-decoration: none;
}

li{
    list-style: none;
}


/* MAIN CSS HERE*/

/*Navbar CSS Design Start Here*/

nav ul {
	background-color: transparent;
	width: 50%;
	justify-content: space-around;
}
/*
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: var(--main-theme-color);
    font-weight: 700;
}*/
.navbar-light .navbar-nav .active > .nav-link{
    color: var(--main-theme-color);
    font-weight: 700;
}

.navbar-light .navbar-nav .active > .nav-link:hover{
    color: var(--font-head-color);
    font-weight: 700;
}

/*Section*/
section {
	width: 100%;
	height: auto;
	padding-top: 20px;
	padding-bottom: 30px;
}

h5 {
	color: var(--main-theme-color);
}

hr{
	width: 100%;
	height: 1px;
	border-top: 1px solid grey;
	margin-top: 10px;
	margin-left: 0px;
}

.scroller{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--main-theme-color);
    position: absolute;
    top: 580px;
    position: fixed;
    left: 30px;
    z-index: 1200;
    visibility:hidden;
}

.scroller.back-to-top-is-visible{
    visibility:visible;
}

@media only screen and (max-width: 1350px){

    .scroller{
    left: 10px; 
    top: 500px;
    z-index: 1200;  
    }
}

.scroller ul {
    text-align: center;
    margin-top: 8px;
    font-size: 22px;    
}


/*Preloader*/
.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1200;
    background-color: black;
    text-align: center;
}

.preloader span {
    color: #FFFFFF;
    text-transform: uppercase;
    display: block;
}

.text1 {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-top: 200px;
    margin-bottom: 20px;
    background-color: black;
    position: relative;
    animation: text 3s 1;
}

.text2 {
    font-size: 30px;
    color: var(--main-theme-color);
}

@keyframes text {
    0% {
        color: black;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

/*HOME CSS*/

.sideBody {
	padding-bottom: 10px;
	padding-top: 20px;
	width: 100%;
	height: 800px;
/*	background-color: red;*/
border-right: 1px solid grey;
	text-align: center;
}

.profile-pic {
	width: 210px;
	height: 210px;
/*	background-color: green;*/
	margin: 0px auto;
	clip-path: circle(50% at 50% 50%);
}

.sideContact {
	margin-top: 20px;
	width: 80%;
	height: 180px;
/*	background-color: yellow;*/
	margin-left: 10px;
}

.download-btn {
	margin-top: 50px;
	float: left;
	margin-bottom: 50px;
	border-radius: 10%;
}

.download-btn button {
	padding: 10px;
	background-color: var(--main-theme-color);
	border:1px solid var(--main-theme-color);
	color: #FFFFFF;
    font-weight: 700;
}

.download-btn button:hover {
	background-color: transparent;
	color: var(--main-theme-color);
	border:1px solid var(--main-theme-color);
    -webkit-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    -o-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    -ms-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    -moz-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
}
.mainBody {
	padding-bottom: 10px;
	width: 100%;
	height: auto;
/*	background-color: blue;*/
}

/*About Page*/
.container .row .quoteBox {
	margin-top: 80px;
	width: 100%;
	padding: 10px;
	height: auto;
	border-radius: 5%;
	border-left: 3px solid var(--main-theme-color);
	background-color: #F5F5F5;
}



/*.container .row .quoteBox blockquote p::before {
    content: '\201C';
    color: var(--main-theme-color);
    font-size: 30px;
}
*/


.what-i-do {
	width: 100%;
	height: auto;
	padding: 10px;
	margin-top: 20px;
	background-color: transparent;
	border-radius: 5%;
}



.what-i-do:hover .do-font {
	color: var(--font-head-color);
	-webkit-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    -o-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    -ms-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    -moz-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
}



.do-font{
	font-size: 30px;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	color: var(--main-theme-color);
}

/*RESUME CSS GO HERE*/

.resume-box {
    width: 100%;
    height: 900px;
    background-color: red;
}

span .experienceHover:hover {
    color: var(--main-theme-color);
    -webkit-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    -o-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    -ms-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    -moz-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
}

.skillHover {
    font-size: 18px;
    margin-bottom: 12px;
}

span .skillHover:hover{
    color: var(--main-theme-color);
    -webkit-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    -o-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    -ms-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    -moz-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
}

/*Portfolio*/
.portfolio-body {
    width: 100%;
    height: auto;
    background-color: transparent;
}

.portfolio-1 {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    height: 200px;
    position: relative;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 1px 8px 1px #888888;
}

.portfolio-1 .portfolio-overlay {
     position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0,0,0,.75);
}


.portfolio-1:hover .portfolio-overlay{
    top: 0px;
    -webkit-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    -o-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    -ms-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    -moz-transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
    transition: all 0.3s cubic-bezier(0.4,0,1,1)0s;
}

.portfolio-icon{
    font-size: 2.5em;
    color:var(--main-theme-color);
    position: relative;
    margin-left: 38%;
    top: 50px;
    left: 5px;
}


@media only screen and (max-width: 1350px){

   .portfolio-icon{
    margin-left: 40%;  
    }
}

.portfolio-font{
    color: var(--main-theme-color);
    position: relative;
    top: 60px;
    left: 5px;
    color: white;
    text-align: center;
    font-size: 1.4em;
}



.portfolio-3 {
    width: 100%;
    height: 250px;
    background-color: yellow;
}

/*Contact*/

.contactBody {
    width: 100%;
    height: auto;
    background-color: transparent;
}


/*FOOTER*/

footer{  
    min-height: 50px;
    padding: 10px 0;
    background-color: #303030;

}



footer p {
	color: #FFFFFF;
}

footer p a{
    color: var(--main-theme-color);
}

footer p a:hover{
    color: var(--primary-color-dark);
}
